.signup-box{
    background: linear-gradient(to right,rgb(79, 185, 136),rgb(230, 88, 112));
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
        
}
.signup-text{
    padding: 12px;
    margin-bottom: 18px;
    color: rgb(4, 30, 51);
    font-family: roboto;
}
.butons{
    color: rgb(70, 26, 141);
    font-family: roboto;
    font-weight: 300;
    padding-left: 14px;
}

